src/main/mule/file-processing-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="file-processing-exampleFlow" doc:id="d7fa71ee-06fb-49e6-bc35-bbe2513021b1" >
		<file:listener doc:name="On New or Updated File" doc:id="bb0a80b8-7e7e-4a36-837d-e30d15cdde41" directory="D:\temp\src" watermarkMode="CREATED_TIMESTAMP">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="08ac73d2-fea8-42f3-8053-25da9f080ce4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
mrn: attributes.fileName replace (("[a-zA-Z-.]*") as Regex) with ("") 
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ebd55d5b-1b85-45d0-b0cc-f1b205208277" message="MRN = #[payload.mrn]"/>
		<file:copy doc:name="Copy" doc:id="88b34d16-85fa-4ab4-b291-52d686fe8bd8" sourcePath="#[attributes.path]" targetPath="D:\temp\dest"/>
	</flow>
</mule>
